<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Code Compiler</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Python Code Compiler duh!</h1>
        <p>Question: Write a scene python program to add to numbers</p>
        <textarea id="code" placeholder="Write your Python code here..."></textarea>
        <button onclick="submitCode()">Run Code</button>
        <div id="result">
            <!-- The score will appear here bruh! -->
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
