<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Code Compiler</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Python Code Compiler</h1>
        <p>Question: Write a python program to multiply Two numbers</p>
		<p>PS : Take the input of the two numbers as a string, seperated by a space</p>
        <textarea id="code" placeholder="Write your Python code here..."></textarea>
        <button onclick="submitCode()">RUN</button>
        <div id="result">
            
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
